<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'showNew.css' %}">
</head>
<body>
    <div id="box">
        <div class="titleBox">
            <h1>Add a New Show</h1>
            <a href="/shows">Go Back</a>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for error in messages %}
                    <li {% if error.tags %} {{ error.tags }} {% endif %}> {{ error }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/shows/new/add" method="POST">
            {% csrf_token %}
            <input class="titleInput" type="text" name="title" id="title" placeholder="Enter Title Here" required>
            <div class="content">
                <input type="text" name="network" id="network" placeholder="Enter Network Here" required>
                <input type="date" name="date" id="date" placeholder="Release" required>
            </div>
            <textarea name="desc" id="desc" cols="56" rows="10" placeholder="Description of Show Here"></textarea>
            <button class="button" type="submit">Create</button>
        </form>
    </div>
</body>
</html>
