<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'showNew.css' %}">
</head>
<body>
    <div id="box">
        <div class="titleBox">
            <h1>Edit Show</h1>
            <a href="/shows">Go Back</a>
        </div>
        <form action="/shows/{{ show.id }}/edit/update" method="POST">
            {% csrf_token %}
            <input class="titleInput" type="text" name="title" id="title" placeholder="Enter Title Here" required>
            <div class="content">
                <input type="text" name="network" id="network" placeholder="Enter Network Here" required>
                <input type="date" name="date" id="date" placeholder="Release" required/>
            </div>
            <textarea name="desc" id="desc" cols="56" rows="10" placeholder="Description of Show Here"></textarea><br>
            <button class="button" type="submit">Update</button>
        </form>
        <a href="/shows/{{ show.id }}">Go to Show</a>
    </div>
</body>
</html>